main.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding-bottom: 64px;
}

main.container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
}

/* Responsividade */
@media (max-width: 1024px) {
    main.container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    main.container {
        grid-template-columns: 1fr;
    }

    #info {
        flex-direction: column;
        gap: 16px;
    }

    .container {
        padding-inline: 16px;
    }
}