nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 24px;
}

#logo img {
    height: 32px;
}

#primary-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

#primary-menu li a {
    display: flex;
    align-items: center;
    font: var(--text-md);
    color: var(--text-color-primary);
}

#primary-menu li a img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* Header e Profile */
header {
    padding-top: 40px;
    padding-bottom: 64px;
}