/* Estilização da barra de navegação */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    padding-block: 20px 40px;
    background-color: var(--surface-color);
    box-sizing: border-box;
}

/* Lista de navegação */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    padding-block: 8px;
    margin: 0;
}

/* Estilização da imagem do último item da lista (foto do perfil) */
nav ul li:last-child img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
